<!DOCTYPE html>
<html lang="ru" ng-app="bankApp" ng-controller="BankController as bank">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{name}}</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <link href="css/main.css?2" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/bank-app.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <span class="navbar-text">Ваши данные</span>
            <span class="navbar-text">{{user.fullBalance()}}</span>
            <span class="navbar-text">{{user.address}}</span>
        </div>

    </div>
</nav>

<div class="container main-content-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Главная</a>
        </li>

        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#get-credit" aria-controls="get-credit" role="tab" data-toggle="tab">Получить кредит</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#create-deposit" aria-controls="create-deposit" role="tab" data-toggle="tab">Дать в долг
                под процент</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#pension" aria-controls="pension" role="tab" data-toggle="tab">Пенсионный вклад</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Идентификация</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <h2>Главная</h2>
            <div ng-hide="registrationStatus!='NOT_CHECKED'">
                <p>Идет проверка вашей регистрации в банке..</p>
                <p style="color: red;">{{accountText}}</p>
            </div>
            <div ng-hide="registrationStatus!='NOT_REGISTERED'">
                <p>Чтобы воспользоваться услугами банка - пройдите регистрацию</p>

                <form novalidate>
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input ng-model="registration.firstName" type="text" class="form-control" id="firstName"
                               placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input ng-model="registration.lastName" type="text" class="form-control" id="lastName"
                               placeholder="Фамилия">
                    </div>
                    <div class="form-group">
                        <label for="middleName">Отчество</label>
                        <input ng-model="registration.middleName" type="text" class="form-control" id="middleName"
                               placeholder="Отчество">
                    </div>

                    <button ng-click="sendRegistration()" type="submit" class="btn btn-primary">Регистрация</button>
                </form>
            </div>

            <div ng-hide="registrationStatus!='IN_PROGRESS'">
                <p>Ваша регистрация отправлена в блокчейн. После подтверждения транзакции - вам откроется весь
                    функционал банка. Немного подождите..</p>
            </div>

            <div ng-hide="registrationStatus!='COMPLETE'">
                <p>Транзакция подтверждена! Ожидаем появления данных в провайдере (около минуты)..</p>
            </div>

            <div ng-hide="registrationStatus!='REGISTERED'">
                <p>Вы зарегистрированы в банке. Откройте вклад, возьмите кредит или создайте пенсионный счет</p>
                <p>Имя: <strong>{{user.firstName}}</strong></p>
                <p>Фамилия: <strong>{{user.lastName}}</strong></p>
                <p>Отчество: <strong>{{user.middleName}}</strong></p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="get-credit">
            <h2>Получить кредит</h2>
            <form novalidate>
                <div class="form-group">
                    <label for="creditSum">Сумма кредита в эфирах (ETH)</label>
                    <input ng-model="creditRequest.sum" type="text" class="form-control" id="creditSum"
                           placeholder="1">
                </div>
                <div class="form-group">
                    <label for="creditDays">На какое количество дней?</label>
                    <input ng-model="creditRequest.days" type="text" class="form-control" id="creditDays"
                           placeholder="10">
                </div>
                <div class="form-group">
                    <label for="creditPercentPerDay">Желаемый процент за пользование деньгами в день</label>
                    <input ng-model="creditRequest.percentPerDay" type="text" class="form-control"
                           id="creditPercentPerDay"
                           placeholder="1">
                </div>

                <button ng-click="createCreditRequest()" type="submit" class="btn btn-primary">Создать заявку
                </button>
                <button ng-click="getMyCreditRequests()" type="submit" class="btn btn-default">Получить список своих
                    заявок
                </button>
            </form>

            <div style="margin-top: 20px" ng-hide="myCreditRequests.length==0">
                <h2>Мои кредитные заявки</h2>
                <div ng-repeat="request in myCreditRequests">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Сумма: {{request.sum}}<br>Количество дней: {{request.days}}<br>Процент в день:
                                {{request.percentPerDay}}</p>
                        </div>
                        <div class="col-sm-8">
                            <p ng-hide="!request.isActive && !request.isPaidBack">
                                <button class="btn btn-primary"
                                        data-ng-attr-id="currentRequest"
                                        ng-click="returnLoan(request.id, request.sum)">Вернуть кредит
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="create-deposit">
            <h2>Дать в долг под процент</h2>
            <p>Указываем сумму, с которой хотим открыть вклад, количество дней после которых нужен возврат и
                процентную ставку за пользование деньгами в день</p>
            <p>
                <button class="btn btn-default" role="button" ng-click="getActiveCreditRequests()">
                    Получить список заявок на кредит
                </button>
            </p>

            <div style="margin-top: 20px" ng-hide="allCreditRequests.length==0">
                <h2>Заявки на кредит</h2>
                <div ng-repeat="request in allCreditRequests" class="row">
                    <div class="col-sm-4">
                        <p>Сумма: {{request.sum}}<br>Количество дней: {{request.days}}<br>Процент в день:
                            {{request.percentPerDay}}</p>

                    </div>
                    <div class="col-sm-8">
                        <p>
                            <button class="btn btn-primary" ng-hide="!request.isActive"
                                    data-ng-attr-id="currentRequest"
                                    ng-click="lendByCreditRequest(request.id, request.sum)">Выдать
                                кредит
                            </button>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="pension">
            <h2>Пенсионный вклад</h2>
            <p>Долгосрочное вложение денег с возвратом в определенный год (год наступления пенсионного возраста) или
                с возвратом после смерти вкладчика</p>
            <p>Проблема в том, чтобы назначить доверенную фирму, которая будет работать через N лет. Возможно нужно
                использовать какой-то рейтинг доверенных фирм, но как избежать накрутки?</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div role="tabpanel" class="tab-pane" id="identity">
            <h2>Идентификация</h2>
            <p>Пройдите идентификацию с помощью доступных провайдеров:</p>
            <p><a target="_blank" href="/">Подтвердить данные с помощью ВКонтакте</a></p>
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; 2017 ДотБай</p>
    </footer>
</div> <!-- /container -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/bank-app.js"></script>
</body>
</html>
