<!DOCTYPE html>
<html lang="ru" ng-app="bankApp" ng-controller="BankController as bank">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{name}}</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <link href="css/docs.css?2" rel="stylesheet">
    <link href="css/main.css?2" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/bank-app.js?2"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <span class="navbar-text">Ваши данные</span>
            <span class="navbar-text">{{user.fullBalance()}}</span>
            <span class="navbar-text">{{user.address}}</span>
        </div>

    </div>
</nav>

<div class="container main-content-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Главная</a>
        </li>

        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#get-credit" aria-controls="get-credit" role="tab" data-toggle="tab">Получить кредит</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#create-deposit" aria-controls="create-deposit" role="tab" data-toggle="tab">Дать в долг
                под процент</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#pension" aria-controls="pension" role="tab" data-toggle="tab">Пенсионный вклад</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#mortgage" aria-controls="mortgage" role="tab" data-toggle="tab">Ипотека</a>
        </li>
        <!--<li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Идентификация</a>
        </li>-->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <h2>Главная</h2>
            <div ng-hide="registrationStatus!='NOT_CHECKED'">
                <p>Идет проверка вашей регистрации в банке..</p>
                <p style="color: red;">{{accountText}}</p>
            </div>
            <div ng-hide="registrationStatus!='NOT_REGISTERED'">
                <p>Чтобы воспользоваться услугами банка - пройдите регистрацию</p>

                <form novalidate>
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input ng-model="registration.firstName" type="text" class="form-control" id="firstName"
                               placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input ng-model="registration.lastName" type="text" class="form-control" id="lastName"
                               placeholder="Фамилия">
                    </div>
                    <div class="form-group">
                        <label for="middleName">Отчество</label>
                        <input ng-model="registration.middleName" type="text" class="form-control" id="middleName"
                               placeholder="Отчество">
                    </div>

                    <button ng-click="sendRegistration()" type="submit" class="btn btn-primary">Регистрация</button>
                </form>
            </div>

            <div ng-hide="registrationStatus!='IN_PROGRESS'">
                <p>Ваша регистрация отправлена в блокчейн. После подтверждения транзакции - вам откроется весь
                    функционал банка. Немного подождите..</p>
            </div>

            <div ng-hide="registrationStatus!='COMPLETE'">
                <p>Транзакция подтверждена! Ожидаем появления данных в блоке (около минуты)..</p>
            </div>

            <div ng-hide="registrationStatus!='REGISTERED'">
                <p>Вы зарегистрированы в банке. Зарабатывайте на выдаче кредитов, берите кредиты или создайте пенсионный
                    вклад</p>
                <p>Имя: <strong>{{user.firstName}}</strong></p>
                <p>Фамилия: <strong>{{user.lastName}}</strong></p>
                <p>Отчество: <strong>{{user.middleName}}</strong></p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="get-credit">
            <h2>Получить кредит</h2>
            <form novalidate>
                <div class="form-group">
                    <label for="creditSum">Сумма кредита в эфирах (ETH)</label>
                    <input ng-model="creditRequest.sum" type="text" class="form-control" id="creditSum"
                           placeholder="1">
                </div>
                <div class="form-group">
                    <label for="creditDays">На какое количество дней?</label>
                    <input ng-model="creditRequest.days" type="text" class="form-control" id="creditDays"
                           placeholder="10">
                </div>
                <div class="form-group">
                    <label for="creditPercentPerDay">Желаемый процент за пользование деньгами в день</label>
                    <input ng-model="creditRequest.percentPerDay" type="text" class="form-control"
                           id="creditPercentPerDay"
                           placeholder="1">
                </div>

                <button ng-click="createCreditRequest()" type="submit" class="btn btn-primary">Создать заявку
                </button>
                <button ng-click="getMyCreditRequests()" type="submit" class="btn btn-default">Получить список своих
                    заявок
                </button>
            </form>

            <div style="margin-top: 20px" ng-hide="myCreditRequests.length==0">
                <h2>Мои кредитные заявки</h2>

                <ul class="list-inline">
                    <li ng-repeat="request in myCreditRequests" class="col-sm-4">
                        <div class="bs-example" data-example-id="horizontal-dl">
                            <dl class="dl-horizontal">
                                <dt>ID</dt>
                                <dd>{{request.id}}</dd>

                                <dt>Сумма</dt>
                                <dd>{{request.sum}}</dd>

                                <dt>Количество дней</dt>
                                <dd>{{request.days}}</dd>

                                <dt>Процент в день</dt>
                                <dd>{{request.percentPerDay}}</dd>
                            </dl>

                            <p>
                                <button class="btn btn-primary"
                                        data-ng-attr-id="currentRequest"
                                        ng-click="returnLoan(request.id, request.sum)"
                                        ng-disabled="!request.isActive && request.isPaidBack || request.isActive && !request.isPaidBack">
                                    Вернуть кредит
                                </button>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="create-deposit">
            <h2>Дать в долг под процент</h2>
            <p>
                <button class="btn btn-default" role="button" ng-click="getActiveCreditRequests()">
                    Получить список заявок на кредит
                </button>
            </p>

            <div style="margin-top: 20px" ng-hide="allCreditRequests.length==0">
                <h2>Заявки на кредит</h2>

                <ul class="list-inline">
                    <li ng-repeat="request in allCreditRequests" class="col-sm-4">
                        <div class="bs-example" data-example-id="horizontal-dl">
                            <dl class="dl-horizontal">

                                <dt>Сумма</dt>
                                <dd>{{request.sum}}</dd>

                                <dt>Количество дней</dt>
                                <dd>{{request.days}}</dd>

                                <dt>Процент в день</dt>
                                <dd>{{request.percentPerDay}}</dd>
                            </dl>

                            <p>
                                <button class="btn btn-primary"
                                        data-ng-attr-id="currentRequest"
                                        ng-click="lendByCreditRequest(request.id, request.sum)"
                                        ng-disabled="!request.isActive">
                                    Выдать кредит
                                </button>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="pension">
            <h2>Пенсионный вклад</h2>
            <form novalidate>
                <div class="form-group">
                    <label for="pensionSum">Сумма пенсионного вклада в эфирах (ETH)</label>
                    <input ng-model="pension.sum" type="text" class="form-control" id="pensionSum"
                           placeholder="1">
                </div>
                <div class="form-group">
                    <label for="pensionYears">На сколько лет?</label>
                    <input ng-model="pension.years" type="text" class="form-control" id="pensionYears"
                           placeholder="10">
                </div>
                <div class="form-group">
                    <label for="pensionReceivers">Кошельки наследников через запятую</label>
                    <input ng-model="pension.receivers" type="text" class="form-control"
                           id="pensionReceivers"
                           placeholder="">
                </div>

                <button ng-click="openPension()" type="submit" class="btn btn-primary">
                    Открыть пенсионный вклад
                </button>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="mortgage">
            <h2>Ипотека</h2>
            <p>Для получения ипотеки у вас и ваших 2 поручителей должно быть как минимум 5 лет активной кредитной
                истории в нашем банке.</p>
            <form novalidate>
                <div class="form-group">
                    <label for="mortgageSellerAddress">Адрес кошелька застройщика</label>
                    <input ng-model="mortgage.sellerAddress" type="text" class="form-control" id="mortgageSellerAddress"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="mortgageYears">Количество лет</label>
                    <input ng-model="mortgage.years" type="text" class="form-control" id="mortgageYears"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="mortgageSum">Сумма</label>
                    <input ng-model="mortgage.sum" type="text" class="form-control" id="mortgageSum"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="mortgagePercentPerDay">Ежедневный процент</label>
                    <input ng-model="mortgage.percentPerDay" type="text" class="form-control" id="mortgagePercentPerDay"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="mortgageGuarantors">Кошельки поручителей</label>
                    <input ng-model="mortgage.guarantors" type="text" class="form-control" id="mortgageGuarantors"
                           placeholder="">
                </div>

                <button ng-click="createMortgage()" type="submit" class="btn btn-primary">Запросить ипотеку</button>
            </form>
        </div>
    </div>


    <hr>
    <div style="clear: both"></div>
    <footer>
        <p>&copy; 2017 ДотБай</p>
    </footer>
</div> <!-- /container -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
