<!DOCTYPE html>
<html lang="ru" ng-app="bankApp" ng-controller="BankController as bank">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{name}}</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <link href="css/main.css?2" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/bank-app.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <span class="navbar-text">Ваши данные</span>
            <span class="navbar-text">{{user.fullBalance()}}</span>
            <span class="navbar-text">{{user.address}}</span>
        </div>

    </div>
</nav>

<div class="container main-content-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Главная</a>
        </li>

        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#get-credit" aria-controls="get-credit" role="tab" data-toggle="tab">Получить кредит</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#create-deposit" aria-controls="create-deposit" role="tab" data-toggle="tab">Дать в долг
                под процент</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#pension" aria-controls="pension" role="tab" data-toggle="tab">Пенсионный вклад</a>
        </li>
        <li role="presentation" ng-hide="registrationStatus!='REGISTERED'">
            <a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Идентификация</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <h2>Главная</h2>
            <div ng-hide="registrationStatus!='NOT_CHECKED'">
                <p>Идет проверка вашей регистрации в банке..</p>
                <p style="color: red;">{{accountText}}</p>
            </div>
            <div ng-hide="registrationStatus!='NOT_REGISTERED'">
                <p>Чтобы воспользоваться услугами банка - пройдите регистрацию</p>

                <form novalidate>
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input ng-model="registration.firstName" type="text" class="form-control" id="firstName"
                               placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input ng-model="registration.lastName" type="text" class="form-control" id="lastName"
                               placeholder="Фамилия">
                    </div>
                    <div class="form-group">
                        <label for="middleName">Отчество</label>
                        <input ng-model="registration.middleName" type="text" class="form-control" id="middleName"
                               placeholder="Отчество">
                    </div>

                    <button ng-click="sendRegistration()" type="submit" class="btn btn-primary">Регистрация</button>
                </form>
            </div>

            <div ng-hide="registrationStatus!='IN_PROGRESS'">
                <p>Ваша регистрация отправлена в блокчейн. После подтверждения транзакции - вам откроется весь
                    функционал банка. Немного подождите..</p>
            </div>

            <div ng-hide="registrationStatus!='COMPLETE'">
                <p>Ваша регистрация отправлена в блокчейн. После подтверждения транзакции - вам откроется весь
                    функционал банка. Немного подождите..</p>
            </div>

            <div ng-hide="registrationStatus!='REGISTERED'">
                <p>Вы зарегистрированы в банке. Откройте вклад, возьмите кредит или создайте пенсионный счет</p>
                <p>Имя: <strong>{{user.firstName}}</strong></p>
                <p>Фамилия: <strong>{{user.lastName}}</strong></p>
                <p>Отчество: <strong>{{user.middleName}}</strong></p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="get-credit">...</div>
        <div role="tabpanel" class="tab-pane" id="create-deposit">...</div>
        <div role="tabpanel" class="tab-pane" id="pension">...</div>
        <div role="tabpanel" class="tab-pane" id="identity">...</div>
    </div>
    <hr>

    <footer>
        <p>&copy; 2017 ДотБай</p>
    </footer>
</div> <!-- /container -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/bank-app.js"></script>
</body>
</html>
